.categories {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__title {
    text-align: center;
  }
  &__back {
    width: 200px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    height: 500px;
    justify-content: space-between;
    gap: 5px;
    @media screen and (min-width: 600px) {
      height: 800px;
      width: 535px;
    }
    @media screen and (min-width: 1300px) {
      height: 724px;
      width: 1081px;
    }
  }
}
