.visiting__card
  width: 440px
  height: 424px
  display: flex
  flex-direction: column
  justify-content: space-between
  &__img
    width: 100%
    height: 285px
  &__info
    height: 114px
    display: flex
    flex-direction: column
    justify-content: space-between
  &__title
    font-family: Forum, cursive
    font-weight: normal
    font-size: 32px
    line-height: 35px
    letter-spacing: 5px
    text-transform: uppercase
  &__hr
    width: 300px
    height: 2px
    color: #710707
    border: none
    background-color: #710707
  &__text1
    font-weight: 200
    font-size: 22px
    line-height: 26px
  &__text2
    font-weight: 200
    font-size: 18px
    line-height: 21px
