@import '../../variables/colorVariables';

.filter-card__color {
  width: 40px;
  height: 40px;
  border: 0;
  outline-color: transparent;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    transform: scale(1.1);
  }
  &_select {
    background-image: url('../../assets/svg/check1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }
  &-wrap {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &_white {
    background-color: rgb(255, 255, 255);
  }
  &_yellow {
    background-color: rgb(231, 231, 6);
  }
  &_red {
    background-color: rgb(245, 12, 12);
  }
  &_blue {
    background-color: rgb(12, 12, 228);
  }
  &_green {
    background-color: rgb(4, 148, 4);
  }
}
