@import './colorVariables';

@mixin cardBcgd {
  border: 3px solid $zomp;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
}

@mixin cardTitle {
  font-size: $cardTitleFont;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center; 
  line-height: 60px;

}