.video__play
  background-image: url(../../assets/img/play.svg)
  width: 23px
  height: 31px

.video__volume
  background-image: url(../../assets/img/volume.svg)
  width: 38px
  height: 31px

.video__fullscreen
  background-image: url(../../assets/img/full-screen.svg)
  width: 35px
  height: 35px

.video__control
  background-size: cover
  cursor: pointer
