.welcome
  padding-bottom: 60px

  &-container
    background: linear-gradient(270deg, rgba(255,0,0,0) 61%, rgba(0,0,0,1) 100%), url('../../assets/img/welcome-slider/1.jpg')
    height: 810px
    background-position: right
    background-size: 1000px
    padding-top: 150px
    background-repeat: no-repeat

  &__content
    width: 598px
    height: 388px

  &__text
    font-weight: 300
    font-size: 28px
    line-height: 33px
    letter-spacing: 2px
    color: #FFFFFF
    margin: 25px 0 75px

  &__button
    width: 360px
    height: 75px
    background-color: #710707
    font-weight: 300
    font-size: 22px
    line-height: 26px
    display: flex
    align-items: center
    justify-content: center
    letter-spacing: 2px
    color: #FFFFFF
    cursor: pointer
