.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-wrapper {
  flex-grow: 1;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
}

.page-container {
  height: 100%;
  display: flex;
}

.hidden {
  display: none;
}
