@import '../../variables/fontVariables';

.filter-card__filter {
  height: 60px;
  font-size: $cardTitleFont;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 30px
}