.header-container
  display: flex
  justify-content: space-between
  align-items: center
  background-color: black

.logo
  background-color: black
  width: 49px
  height: 26px
  background-position: center
  background-size: cover
  background-image: url('../../assets/img/logo.svg')
