.category__item {
  width: 70px;
  height: 70px;
  cursor: pointer;
  color: white;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 600px) {
    width: 125px;
    height: 125px;
  }
  @media screen and (min-width: 1300px) {
    width: 160px;
    height: 160px;
  }
  &:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &-title {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #eaefef;
    border-radius: 0% 0% 100% 0%;
    background: black;
    color: #fafafa;
    font-size: 18px;
    width: 34px;
    padding-left: 3px;
    &_played {
      background: white;
      color: black;
    }
  }

  &-result {
    position: absolute;
    bottom: -100px;
    left: 0px;
    color: azure;
    background-color: black;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    cursor: help;
    @media screen and (max-width: 360px) {
      bottom: 0px;
    }
  }
}

.category__item:hover .category__item-result {
  bottom: 0px;
}
