@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player {
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 230px;
  align-items: flex-start;
}

.player__time {
  display: flex;
  justify-content: space-between;
  width: 245px;
  align-items: center;
}

.song {
  text-align: center;
  min-width: 160px;
}

.progress__container {
  width: 160px;
  background: white;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.progress {
  background: #c5b358;
  height: 10px;
  border-radius: 5px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.buttons {
  display: flex;
  align-items: center;
  width: 245px;
  justify-content: space-between;
}

.player__volume {
  display: flex;
  width: 115px;
  justify-content: space-between;
}

.volume-btn {
  width: 30px;
  height: 30px;
  background-image: url('../assets/svg/volume_on.svg');
  cursor: pointer;
}

.volume-btn_off {
  background-image: url('../assets/svg/volume_off.svg');
}

.volume-range {
  width: 80px;
  cursor: pointer;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: '\2713';
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  transition: all 0.5s;
}

.weather-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 0.5s;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: all 0.5s;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  transition: all 0.5s;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  padding-top: 0;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
  transition: all 0.5s;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
  transition: all 0.5s;
}

.footer__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.links__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.links__button {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  width: 60px;
  border-radius: 5px;
}

.links__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.links__edit {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.links__li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.links__change {
  display: flex;
  gap: 10px;
  width: 150px;
}

.links__anchor {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.links__add {
  min-width: 72px;
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
  align-self: center;
  transition: 0.5s;
  border-radius: 5px;
}

.links__add:hover {
  color: #c5b358;
}

.links__anchor:hover {
  color: #c5b358;
}

.links {
  width: 300px;
  min-height: 120px;
  transition: all 0.5s;
  max-height: 190px;
  overflow-y: auto;
}

.links__delete {
  width: 16px;
  height: 16px;
  background-image: url('../assets/svg/delete-button.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
}

.links__add-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.links__add-container label {
  color: black;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.links__add-container button {
  width: 100px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid black;
}

.links__add-container button:hover {
  border: 1px solid #c5b358;
  color: #c5b358;
}

.links__add-container input {
  width: 180px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.settings__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.settings {
  width: 300px;
  height: 140px;
  transition: all 0.5s;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
}

.settings label {
  display: flex;
  width: 110px;
  justify-content: space-between;
}

.settings__other {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: self-start;
}

.settings_img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 107px;
}

.settings__img-theme {
  width: 150 px;
  background: transparent;
  outline: none;
  color: white;
  border: none;
  height: 20px;
  align-self: end;
  border-bottom: 1px solid white;
}

.settings_img label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.visibility {
  opacity: 0;
}

.settings__btn {
  background-image: url('../assets/svg/settings.svg');
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s;
  background-position: center center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  align-self: flex-end;
}

.settings__btn:hover {
  transform: rotate(45deg);
  opacity: 0.5;
}

select {
  outline: none;
  width: 100px;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
