@import '../../variables/colorVariables';

.filter-card__forms {
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  &:hover {
    filter: invert(41%) sepia(0%) saturate(275%) hue-rotate(27deg) brightness(88%);
    transform: scale(1.1);
  }
  &_gold {
    filter: $goldFilter;
    &:hover {
      filter: $goldFilter;
    }
  }
  &-wrap {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &_ball {
    background-image: url('../../assets/svg/ball.svg');
  }
  &_bell {
    background-image: url('../../assets/svg/bell.svg');
  }
  &_cone {
    background-image: url('../../assets/svg/cone.svg');
  }
  &_snowflake {
    background-image: url('../../assets/svg/snowflake.svg');
  }
  &_toy {
    background-image: url('../../assets/svg/toy.svg');
  }
}
