.footer {
  background-color: blanchedalmond;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github {
  background-image: url('../../assets/github.png');
  width: 18px;
  height: 18px;
}

.rsschool {
  background-image: url('../../assets/rs_school.svg');
  width: 48px;
  height: 18px;
}
