@import '../../variables/mixins';

.search {
  position: relative;
  &__input {
    width: 380px;
    height: 40px;
    width: 380px;
    height: 40px;
    padding: 5px 50px 5px 25px;
    border-radius: 20px;
    outline: none;
    @include cardBcgd;
    @media screen and (max-width: 900px) {
      width: 250px;
    }
  }
  &__icon,
  &__clear {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    top: 10px;
    right: 20px;
  }
  &__icon {
    background-image: url('../../assets/svg/search.svg');
  }
  &__clear {
    background-image: url('../../assets/svg/close.png');
    cursor: pointer;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
