.painter-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  &__title {
    text-align: center;
    width: 90%;
  }
  &__pictures {
    width: 295px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    gap: 5px;
    @media screen and (min-width: 650px) {
      width: 435px;
      height: 455px;
    }
  }
  &__img-wrapper {
    width: 38vw;
    height: 38vw;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
}

.inner-img-wrapper {
  width: 140px;
  height: 140px;
  @media screen and (min-width: 650px) {
    width: 200px;
    height: 200px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
