@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300;400;500;700&display=swap')

*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  font-family: 'Roboto', sans-serif

html
  scroll-behavior: smooth

.container
  margin: 0 auto
  max-width: 1480px
  padding-left: 20px
  padding-right: 20px
  @media screen and (max-width: 1024px)
    max-width: 984px

.dark-section
  background-color: #030303

.section-title
  font-family: 'Forum', cursive
  font-style: normal
  font-weight: normal
  font-size: 80px
  letter-spacing: 5px
  text-transform: uppercase
  color: #9D8665
  @media screen and (max-width: 1024px)
    font-size: 50px
    line-height: 90px
    letter-spacing: 5px

.section-title_dark
  color: #FFFFFF

.hidden
  display: none
