@import '../../variables/colorVariables';

.tree {
  height: 800px;
  width: 700px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  border: 2px solid $primaryColor;
    @media screen and (max-width: 1650px) {
    width: 550px;
  }
    @media screen and (max-width: 1400px) {
    width: 500px;
  }
    @media screen and (max-width: 1050px) {
     width: 300px;
     height: 500px;
     margin: auto;
   }
  &__img {
    position: relative;
    height: 100%;
  }
  &__toy {
    position: absolute;
    height: 50px;
    cursor: grab;
    z-index: 100;
      @media screen and (max-width: 1050px) {
     height: 30px;
   }
  }
}